*{
    background-color: #dedede;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.cs{
    height: 10%;
}
/* custom scroll bar */
::-webkit-scrollbar {
      width: 5px;
}
::-webkit-scrollbar-track {
      background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
      background: #888;
}
.logo{
    background-color: inherit;
}
.navbar-logo{
    -webkit-user-drag: none;
    width: 5%; 
    height: 5%;
    background-color: inherit;
}
.navbar-logo-contain{
    background-color: inherit;
    -webkit-user-drag: none;
}
.content{
    margin: auto;
    max-width: 100%;
    padding: 0 30px;
}
.navbar{
    background-color: #dedede;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 10px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(.15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 0;
}
.navbar .content{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu-list{
    background-color: inherit;
    display: inline-flex;
}
.menu-list li{
    background-color: inherit;
    list-style: none;
}
.menu-list li a{
    user-select: none;
    -webkit-user-drag: none;
    color: #454545;
    font-size: 20px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    background-color: transparent;
}
.menu-list li a:active{
    font-weight: 100;
    color: #b0b0b0;
    text-shadow: 0px 0px 0px #ffffff;
}
.icon{
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    display: none;
}
.menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
.loader {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dedede;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader--hidden {
    opacity: 0;
    visibility: hidden;
}
.loader::after {
    content: "";
    width: 105px;
    height: 105px;
    border: 5px solid #dddddd;
    border-top-color: #08c5ff;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@media (max-width: 1230px) {
    .content{
        padding: 0 60px;
    }
}
@media (max-width: 1100px) {
    .content{
        padding: 0 40px;
    }
}
@media (max-width: 900px) {
    .content{
        padding: 0 30px;
    }
}
@media (max-width: 868px) {
    body.disabled{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #D8D8D8;
        transition: all 0.3s
    }
    .navbar.show .menu-list{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
        margin-left: -100%;
    }
    .navbar.show .menu-list li a{
        margin-left: 0px;
    }
}